// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2020 Arm Ltd.
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "OrangePi Zero2";
	compatible = "xunlong,orangepi-zero2", "allwinner,sun50i-h616";

	aliases {
		ethernet0 = &emac0;
		serial0 = &uart0;
		// serial1 = &uart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			function = LED_FUNCTION_POWER;
			color = <LED_COLOR_ID_RED>;
			gpios = <&pio 2 12 GPIO_ACTIVE_HIGH>; /* PC12 */
		};

		led-1 {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			// gpios = <&pio 2 13 GPIO_ACTIVE_HIGH>; /* PC13 */
            gpios = <&pio 7 5 GPIO_ACTIVE_LOW>; /* PH5 */
			default-state = "on";
		};
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc5v>;
		enable-active-high;
		gpio = <&pio 2 16 GPIO_ACTIVE_HIGH>; /* PC16 */
		status = "okay";
	};

	reg_vcc33_wifi: vcc33-wifi {
		/* Always on 3.3V regulator for WiFi and BT */
		compatible = "regulator-fixed";
		regulator-name = "vcc33-wifi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&reg_vcc5v>;
	};

	reg_vcc_wifi_io: vcc-wifi-io {
		/* Always on 1.8V/300mA regulator for WiFi and BT IO */
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&reg_vcc33_wifi>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		// clocks = <&rtc 1>;
		// clock-names = "osc32k-out";
		reset-gpios = <&pio 6 18 GPIO_ACTIVE_LOW>; /* PG18 */
		post-power-on-delay-ms = <400>;
	};
};

&de {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&hdmi {
	// hvcc-supply = <&reg_bldo1>;
	hvcc-supply = <&reg_aldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

/* USB 2 & 3 are on headers only. */

&emac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ext_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;

	reset-gpios = <&pio 8 6 GPIO_ACTIVE_HIGH>; /* PI6 */

	// phy-supply = <&reg_dcdce>;
	phy-supply = <&reg_dldo1>;

	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	// status = "disabled";
	status = "okay";
};

&mdio0 {
	ext_rgmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&mmc0 {
	// vmmc-supply = <&reg_dcdce>;
	// cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */

	vmmc-supply = <&reg_dldo1>;
	// cd-gpios = <&pio 8 14 GPIO_ACTIVE_LOW>;	/* PI14 */

	// sd-uhs-sdr104;
    // sd-uhs-sdr50;
    // sd-uhs-sdr25;
    // sd-uhs-sdr12;
	no-1-8-v;
	// no-mmc;
	// no-sdio;

	bus-width = <4>;
	status = "okay";
};

&mmc1 {
	// vmmc-supply = <&reg_vcc33_wifi>;
	// vqmmc-supply = <&reg_vcc_wifi_io>;
	// mmc-pwrseq = <&wifi_pwrseq>;

	vmmc-supply = <&reg_dldo1>;
	vqmmc-supply = <&reg_dldo1>;
	mmc-pwrseq = <&wifi_pwrseq>;

	// max-frequency = <400000>;
	// max-frequency = <150000000>;

	reset-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>; /* PF6 */

	// reset-gpios = <&pio 6 18 GPIO_ACTIVE_HIGH>; 	// PG18
	// reset-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; /* PG15 */
	
	// sunxi-dis-signal-vol-sw;
	// sdio-used-1v8;
	// ignore-pm-notify;

	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	// mmc-ddr-1_8v;
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

// &r_rsb {
// 	status = "okay";
// };

&r_i2c {
	status = "okay";

	axp1530: pmic@36 {
		compatible = "x-powers,axp1530";
		reg = <0x36>;
		// reg = <0x745>;
		// interrupt-parent = <&nmi_intc>;
		// interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		// interrupt-controller;
		// #interrupt-cells = <1>;

		wakeup-source;

		standby_param: standby_param {
			vcc-dram = <0x4>;
		};

		regulators{
			reg_dcdc1: dcdc1 {
				regulator-name = "axp1530-dcdc1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_dcdc2: dcdc2 {
				regulator-name = "axp1530-dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-ramp-delay = <200>; // FIXME
				regulator-always-on;
			};

			reg_dcdc3: dcdc3 {
				regulator-name = "axp1530-dcdc3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1840000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_aldo1: ldo1 {
				regulator-name = "axp1530-aldo1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};

			reg_dldo1: ldo2 {
				regulator-name = "axp1530-dldo1";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-step-delay-us = <25>;
				regulator-final-delay-us = <50>;
				regulator-always-on;
			};
		};
	};

	/*	
	axp305: pmic@36 {
		compatible = "x-powers,axp305", "x-powers,axp805",
			     "x-powers,axp806";
		interrupt-controller;
		#interrupt-cells = <1>;
		reg = <0x36>;

		x-powers,self-working-mode;
		vina-supply = <&reg_vcc5v>;
		vinb-supply = <&reg_vcc5v>;
		vinc-supply = <&reg_vcc5v>;
		vind-supply = <&reg_vcc5v>;
		vine-supply = <&reg_vcc5v>;
		aldoin-supply = <&reg_vcc5v>;
		bldoin-supply = <&reg_vcc5v>;
		cldoin-supply = <&reg_vcc5v>;

		regulators {
			reg_aldo1: aldo1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-sys";
			};

			reg_aldo2: aldo2 {	// 3.3V on headers 
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3-ext";
			};

			reg_aldo3: aldo3 {	// 3.3V on headers 
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3-ext2";
			};

			reg_bldo1: bldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			bldo2 {
				// unused 
			};

			bldo3 {
				// unused 
			};

			bldo4 {
				// unused 
			};

			cldo1 {
				// reserved 
			};

			cldo2 {
				// unused 
			};

			cldo3 {
				// unused 
			};

			reg_dcdca: dcdca {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1080000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdcc: dcdcc {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1080000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdcd: dcdcd {
				regulator-always-on;
				regulator-min-microvolt = <1400000>;
				regulator-max-microvolt = <1400000>;
				regulator-name = "vdd-dram";
			};

			reg_dcdce: dcdce {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-eth-mmc";
			};

			sw {
				// unused 
			};
		};
	};
	*/
};

&spi0  {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

// &uart1 {
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart1_pins>;
// 	status = "okay";
// };

&usbotg {
	/*
	 * PHY0 pins are connected to a USB-C socket, but a role switch
	 * is not implemented: both CC pins are pulled to GND.
	 * The VBUS pins power the device, so a fixed peripheral mode
	 * is the best choice.
	 * The board can be powered via GPIOs, in this case port0 *can*
	 * act as a host (with a cable/adapter ignoring CC), as VBUS is
	 * then provided by the GPIOs. Any user of this setup would
	 * need to adjust the DT accordingly: dr_mode set to "host",
	 * enabling OHCI0 and EHCI0.
	 */
	// dr_mode = "peripheral";
	dr_mode = "host";
	status = "disabled";
	// status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_ph_pins>;
	status = "okay";
};



&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spidev@1 {
		compatible = "spidev";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

/*
&ir {
	pinctrl-names = "default";
	pinctrl-0 = <&ir_rx_pin>;
	status = "okay";
};

&codec {
        allwinner,audio-routing =
                "Line Out", "LINEOUT";
        status = "okay";
};

&ahub_codec {
	status = "okay";
};

&ahub_cpudai0 {
	status = "okay";
};

&ahub_cpudai1 {
	status = "okay";
};

&ahub_cpudai2 {
	status = "okay";
};

&sndahub {
	status = "okay";
};

&ahub_i2s1 {
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};
*/
